<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SteemLine{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'assets/vendor/jquery-ui/themes/base/jquery-ui.min.css'
        'assets/vendor/uikit/css/uikit.min.css'
        'assets/vendor/uikit/css/components/tooltip.min.css'
        'assets/vendor/uikit/css/components/slider.min.css'
        'assets/vendor/uikit/css/components/sticky.min.css'
        'assets/vendor/uikit/css/components/notify.min.css'
        'assets/vendor/uikit/css/components/htmleditor.min.css'
        'assets/vendor/codemirror/lib/codemirror.css'
        'assets/css/fonts.css'
        'assets/css/app.css'
        filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" href="{{ asset('assets/img/app-icon.png') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script>
        let sf = {
          appName: '{{ app_name }}',
          redirectUri: '{{ url('auth_steemconnect') }}',
          host: '{{ url('homepage') }}',
          access_token: '{{ app.session.get('access_token') }}',
          username: '{{ app.session.get('username') }}'
        };
    </script>
    {% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/jquery-ui/jquery-ui.min.js'
    'assets/vendor/moment/min/moment.min.js'
    'assets/vendor/bluebird/js/browser/bluebird.min.js'
    'assets/vendor/codemirror/lib/codemirror.js'
    'assets/vendor/codemirror/mode/markdown/markdown.js'
    'assets/vendor/codemirror/addon/mode/overlay.js'
    'assets/vendor/codemirror/mode/xml/xml.js'
    'assets/vendor/codemirror/mode/gfm/gfm.js'
    'assets/vendor/remarkable/dist/remarkable.min.js'
    'assets/vendor/uikit/js/uikit.js'
    'assets/vendor/uikit/js/components/tooltip.min.js'
    'assets/vendor/uikit/js/components/slider.min.js'
    'assets/vendor/uikit/js/components/sticky.min.js'
    'assets/vendor/uikit/js/components/notify.min.js'
    'assets/vendor/uikit/js/components/htmleditor.min.js'
    'assets/vendor/push.js/bin/push.min.js'
    'assets/vendor/vue/dist/vue.min.js'
    'assets/js/steem.min.js'
    'assets/js/sc2.min.js'
    'assets/js/lodash.min.js'
    'assets/js/app.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
