{% verbatim %}
<div id="add-row" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3>Choose a source of posts:</h3>
        </div>
        <div class="uk-grid">
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-hover">
                    <h3 class="uk-panel-title">New<span v-if="addNewTag"> #{{ addNewTag }}</span></h3>
                    <p class="uk-text-muted">Display new posts for a tag. Leave tag empty to display all new posts.</p>
                    <form class="uk-form" v-on:submit="addRow('new', $event)">
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <div class="uk-form-icon uk-width-1-1">
                                    <i class="uk-icon-hashtag"></i>
                                    <input type="text" v-model="addNewTag" placeholder="all" class="uk-width-1-1 uk-form-large">
                                </div>
                            </div>
                        </div>
                        <div class="uk-form-row uk-text-center">
                            <button href="#" class="uk-button uk-button-success uk-button-large">
                                <i class="uk-icon-plus"></i>
                                Add Row
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-hover">
                    <h3 class="uk-panel-title">Hot<span v-if="addHotTag"> #{{ addHotTag }}</span></h3>
                    <p class="uk-text-muted">Display hot posts for a tag. Leave tag empty to display all hot posts.</p>
                    <form class="uk-form" v-on:submit="addRow('hot', $event)">
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <div class="uk-form-icon uk-width-1-1">
                                    <i class="uk-icon-hashtag"></i>
                                    <input type="text" v-model="addHotTag" placeholder="all" class="uk-width-1-1 uk-form-large">
                                </div>
                            </div>
                        </div>
                        <div class="uk-form-row uk-text-center">
                            <button href="#" class="uk-button uk-button-success uk-button-large">
                                <i class="uk-icon-plus"></i>
                                Add Row
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-hover">
                    <h3 class="uk-panel-title">Trending<span v-if="addTrendingTag"> #{{ addTrendingTag }}</span></h3>
                    <p class="uk-text-muted">Display trending posts for a tag. Leave tag empty to display all trending posts.</p>
                    <form class="uk-form" v-on:submit="addRow('trending', $event)">
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <div class="uk-form-icon uk-width-1-1">
                                    <i class="uk-icon-hashtag"></i>
                                    <input type="text" v-model="addTrendingTag" placeholder="all" class="uk-width-1-1 uk-form-large">
                                </div>
                            </div>
                        </div>
                        <div class="uk-form-row uk-text-center">
                            <button href="#" class="uk-button uk-button-success uk-button-large">
                                <i class="uk-icon-plus"></i>
                                Add Row
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="uk-panel uk-panel-hover">
                    <h3 class="uk-panel-title">Blog<span v-if="addBlogUser"> @{{ addBlogUser }}</span></h3>
                    <p class="uk-text-muted">Display posts from a user's blog.</p>
                    <form class="uk-form" v-on:submit="addRow('blog', $event)">
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <div class="uk-form-icon uk-width-1-1">
                                    <i class="uk-icon-at"></i>
                                    <input type="text" v-model="addBlogUser" placeholder="enter username" class="uk-width-1-1 uk-form-large">
                                </div>
                            </div>
                        </div>
                        <div class="uk-form-row uk-text-center">
                            <button class="uk-button uk-button-success uk-button-large" v-bind:disabled="!addBlogUser">
                                <i class="uk-icon-plus"></i>
                                Add Row
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="uk-panel uk-panel-hover">
                    <h3 class="uk-panel-title">Feed<span v-if="addFeedUser"> @{{ addFeedUser }}</span></h3>
                    <p class="uk-text-muted">Display posts from a user's feed.</p>
                    <form class="uk-form" v-on:submit="addRow('feed', $event)">
                        <div class="uk-form-row">
                            <div class="uk-form-controls">
                                <div class="uk-form-icon uk-width-1-1">
                                    <i class="uk-icon-at"></i>
                                    <input type="text" v-model="addFeedUser" placeholder="enter username" class="uk-width-1-1 uk-form-large">
                                </div>
                            </div>
                        </div>
                        <div class="uk-form-row uk-text-center">
                            <button class="uk-button uk-button-success uk-button-large" v-bind:disabled="!addFeedUser">
                                <i class="uk-icon-plus"></i>
                                Add Row
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}