{% verbatim %}
<div id="followers" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3>@mkt's Followers</h3>
        </div>
        <div class="uk-modal-header">
            <form class="uk-form uk-text-center">
                <input type="text" placeholder="Search" class="uk-form-large uk-width-1-1">
            </form>
        </div>
        <div style="margin: 0 -20px;">
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Reputation</th>
                    <th>Name</th>
                    <th>Followers/Following</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 1
                    </td>
                    <td><span class="uk-badge uk-badge-notification">62</span></td>
                    <td>roadscape</td>
                    <td>2019/428 <b>({{ (2019/428).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 2
                    </td>
                    <td><span class="uk-badge uk-badge-notification">63</span></td>
                    <td>fulltimegeek</td>
                    <td>2076/1145 <b>({{ (2076/1145).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 3
                    </td>
                    <td><span class="uk-badge uk-badge-notification">75</span></td>
                    <td>stellabelle</td>
                    <td>6028/232 <b>({{ (6028/232).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 4
                    </td>
                    <td><span class="uk-badge uk-badge-notification">73</span></td>
                    <td>good-karma</td>
                    <td>7901/150 <b>({{ (7901/150).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 5
                    </td>
                    <td><span class="uk-badge uk-badge-notification">69</span></td>
                    <td>teamsteem</td>
                    <td>6675/1166 <b>({{ (6675/1166).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 6
                    </td>
                    <td><span class="uk-badge uk-badge-notification">68</span></td>
                    <td>firepower</td>
                    <td>9131/32665 <b>({{ (9131/32665).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 7
                    </td>
                    <td><span class="uk-badge uk-badge-notification">56</span></td>
                    <td>ghasemkiani</td>
                    <td>2970/11439 <b>({{ (2970/11439).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 8
                    </td>
                    <td><span class="uk-badge uk-badge-notification">55</span></td>
                    <td>eco-alex</td>
                    <td>861/430 <b>({{ (861/430).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 9
                    </td>
                    <td><span class="uk-badge uk-badge-notification">60</span></td>
                    <td>avilsd</td>
                    <td>9524/77258 <b>({{ (9524/77258).toFixed(2) }})</b></td>
                </tr>
                <tr>
                    <td class="uk-text-muted uk-text-small">
                        # 10
                    </td>
                    <td><span class="uk-badge uk-badge-notification">61</span></td>
                    <td>markwhittam</td>
                    <td>1258/425 <b>({{ (1258/425).toFixed(2) }})</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="uk-pagination">
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            <li class="uk-disabled"><span><i class="uk-icon-angle-left"></i></span></li>
            <li class="uk-active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><span>...</span></li>
            <li><a href="#"><i class="uk-icon-angle-right"></i></a></li>
            <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>
{% endverbatim %}