<nav class="uk-navbar" id="navbar" data-uk-sticky v-cloak>
    <div class="uk-navbar-content">
        <a href="#about" class="logo" data-uk-modal>
            Steem<br class="uk-visible-small">Line
        </a>
    </div>
    <ul class="uk-navbar-nav">
        <li>
            <a href="#add-line" class="add-line navbar-primary-button" data-uk-modal>
                <i class="uk-icon-plus"></i>
                <span class="uk-hidden-small">Add Line</span>
            </a>
        </li>
        <li v-if="account">
            <a href="#submit-story" class="navbar-primary-button" data-uk-modal>
                <i class="uk-icon-pencil"></i>
                <span class="uk-hidden-small">Submit Story</span>
            </a>
        </li>
    </ul>
    <div class="uk-navbar-content uk-navbar-flip" v-if="connecting">
        <i class="uk-icon-spinner uk-icon-spin"></i>
    </div>
    <ul class="uk-navbar-nav uk-navbar-flip" v-if="!account && !connecting">
        <li>
            <a :href="steemconnect.getLoginURL()">
                <i class="uk-icon-sign-in"></i>
                Login
            </a>
        </li>
    </ul>
    <ul class="uk-navbar-nav uk-navbar-flip" v-if="account && !connecting">
        <li v-if="newMentions > 0">
            <a href="#mentions" data-uk-modal data-uk-tooltip :title="newMentions + ' new mention' + (newMentions > 1 ? 's' : '')">
                <i class="uk-icon-bell"></i>
                <span class="uk-badge uk-badge-notification">
                    {% verbatim %}{{ newMentions }}{% endverbatim %}
                </span>
            </a>
        </li>
        <li v-if="newVotes > 0">
            <a href="#votes" data-uk-modal data-uk-tooltip :title="newVotes + ' new vote' + (newVotes > 1 ? 's' : '')">
                <i class="uk-icon-angle-up"></i>
                <span class="uk-badge uk-badge-notification">
                    {% verbatim %}{{ newVotes }}{% endverbatim %}
                </span>
            </a>
        </li>
        <li v-if="profileImage">
            <a href="#sidebar" data-uk-offcanvas="{mode:'slide'}">
                <span class="profile-image" :style="'background-image: url(https://steemitimages.com/50x50/' + profileImage + ')'"></span>
            </a>
        </li>
        <li v-if="!profileImage">
            <a href="#sidebar" data-uk-offcanvas="{mode:'slide'}">
                {% verbatim %}@{{ account.name }}{% endverbatim %}
            </a>
        </li>
    </ul>
</nav>

<div id="sidebar" class="uk-offcanvas" v-if="account">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <div id="sidebar-profile-header">
            <div v-if="profileImage && coverImage">
                <div class="cover-image" :style="'background-image: url(https://steemitimages.com/270x270/' + coverImage + ');'">
                    <div class="profile-image" :style="'background-image: url(https://steemitimages.com/150x150/' + profileImage + ')'"></div>
                    <h2>{% verbatim %}@{{ account.name }}{% endverbatim %}</h2>
                </div>
            </div>

            <div v-if="profileImage && !coverImage" class="uk-margin-top">
                <div class="profile-image" :style="'background-image: url(https://steemitimages.com/150x150/' + profileImage + ')'"></div>
                <h2>{% verbatim %}@{{ account.name }}{% endverbatim %}</h2>
            </div>

            <div v-if="!profileImage && coverImage">
                <div class="cover-image" :style="'background-image: url(https://steemitimages.com/270x270/' + coverImage + '); height: 40px;'">
                    <h2>{% verbatim %}@{{ account.name }}{% endverbatim %}</h2>
                </div>
            </div>

            <div v-if="!profileImage && !coverImage">
                <h2>{% verbatim %}@{{ account.name }}{% endverbatim %}</h2>
            </div>
        </div>

        <div class="uk-grid uk-margin-top uk-margin-bottom uk-text-large">
            <div class="uk-width-1-2 uk-text-center">
                <small>Reputation:</small><br>
                {% verbatim %}{{ reputation }}{% endverbatim %}
            </div>
            <div class="uk-width-1-2 uk-text-center">
                <small>Voting Power:</small><br>
                {% verbatim %}{{ votingPower }}%{% endverbatim %}
            </div>
        </div>

        <div v-if="followers" class="uk-grid uk-margin-top uk-margin-bottom uk-text-large">
            <div class="uk-width-1-2 uk-text-center">
                <small>Follower:</small><br>
                {% verbatim %}{{ followers.follower_count }}{% endverbatim %}
            </div>
            <div class="uk-width-1-2 uk-text-center">
                <small>Folowing:</small><br>
                {% verbatim %}{{ followers.following_count }}{% endverbatim %}
            </div>
        </div>

        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li>
                <a href="#mentions" data-uk-modal>
                    <i class="uk-icon-quote-right"></i>
                    Mentions
                    <span v-if="newMentions > 0" class="uk-badge uk-badge-notification">{% verbatim %}{{ newMentions }}%{% endverbatim %}</span>
                </a>
            </li>
            <li>
                <a href="#votes" data-uk-modal>
                    <i class="uk-icon-angle-up"></i>
                    Incoming Votes
                    <span v-if="newVotes > 0" class="uk-badge uk-badge-notification">{% verbatim %}{{ newVotes }}{% endverbatim %}</span>
                </a>
            </li>
            <li>
                <a href="#" class="uk-text-muted" data-uk-tooltip title="Not available yet.">
                    <i class="uk-icon-reply"></i>
                    Incoming Replies
                    {#<span v-if="newMentions > 0" class="uk-badge uk-badge-notification">{% verbatim %}{{ newMentions }}%{% endverbatim %}</span>#}
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="uk-icon-sign-out"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="about" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <input type="hidden">
            <div class="uk-text-center">
                <div class="logo">SteemLine</div>
                <div class="uk-text-muted">v0.1</div>
                <div class="uk-grid uk-margin-top uk-text-large">
                    <div class="uk-width-1-2">
                        <a href="https://steemit.com/@mkt" target="_blank" class="avatar"></a>
                        by <a href="https://steemit.com/@mkt" target="_blank" class="uk-button-link">@mkt</a>
                    </div>
                    <div class="uk-width-1-2">
                        <a href="https://github.com/mktcode/steemline" target="_blank">
                            <i class="uk-icon-github uk-icon-large" style="font-size: 60px;"></i><br>
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mentions" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3>Posts and comments mentioning you</h3>
        </div>
        <p v-if="!mentions || mentions.length == 0" class="uk-text-center">
            You haven't been mentioned yet.
        </p>
        <article class="uk-comment" v-for="(mention, key) in mentions" :key="key">
            <header class="uk-comment-header">
                <h4 class="uk-comment-title">
                    <a :href="'https://steemit.com' + mention.permlink">
                        {% verbatim %}{{ mention.title }}{% endverbatim %}
                    </a>
                </h4>
                <div class="uk-comment-meta">
                    {% verbatim %}{{ mention.author }}{% endverbatim %}
                    |
                    {% verbatim %}{{ mention.created }}{% endverbatim %}
                </div>
            </header>
        </article>
    </div>
</div>

<div id="votes" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">
            <h3 class="uk-margin-bottom-remove">Incoming Votes</h3>
            <h4 class="uk-text-muted uk-margin-top-remove">last 500, {% verbatim %}{{ votesCount }}{% endverbatim %} total</h4>
        </div>
        <p v-if="!votes || votes.length == 0" class="uk-text-center">
            No votes yet.
        </p>
        <article class="uk-comment" v-for="(vote, key) in votes" :key="key">
            <header class="uk-comment-header">
                <h4 class="uk-comment-title">
                    {% verbatim %}{{ vote.permlink }}{% endverbatim %}
                </h4>
                <div class="uk-comment-meta">
                    <a :href="'https://steemit.com/@' + vote.voter">
                        {% verbatim %}{{ vote.voter }}{% endverbatim %}
                    </a>
                    |
                    {#{% verbatim %}{{ moment.utc(new Date(vote.timestamp)).from(moment.utc().format('YYYY-MM-DD HH:mm:ss')) }}{% endverbatim %}#}
                    {% verbatim %}{{ vote.timestamp }}{% endverbatim %}
                    |
                    {% verbatim %}{{ vote.weight }} %{% endverbatim %}
                </div>
            </header>
        </article>
    </div>
</div>
