{% verbatim %}
<script type="text/x-template" id="top-bar-template">
    <nav class="uk-navbar" id="top-bar" data-uk-sticky>
        <transition name="fade">
            <ul v-if="userInfo.account" class="uk-navbar-nav uk-position-top-left">
                <li class="uk-visible-small uk-parent" data-uk-dropdown="{mode: 'click'}">
                    <a href="#" style="cursor: pointer;"><i class="uk-icon-angle-down"></i></a>

                    <!-- This is the dropdown -->
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li class="uk-nav-header uk-text-center">
                                @{{ userInfo.username }}<br>
                                <div v-if="userInfo.profileImage" id="profile-image-big" v-bind:style="'background-image: url(https://steemitimages.com/110x110/' + userInfo.profileImage + ')'"></div>
                            </li>
                            <li class="uk-nav-header uk-text-center uk-margin-remove">
                                <small>Voting Power</small><br>
                                92.86 %
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#followers" data-uk-modal>Following</a></li>
                            <li><a href="#replies" data-uk-modal>Replies</a></li>
                            <li><a href="">Switch User</a></li>
                        </ul>
                    </div>

                </li>
                <li v-if="userInfo.profileImage">
                    <a href="#" id="profile-image" v-bind:style="'background-image: url(https://steemitimages.com/50x50/' + userInfo.profileImage + ');'"></a>
                </li>
                <li class="uk-hidden-small"><a href="#">@{{ userInfo.username }}</a></li>
                <li><span class="uk-badge uk-badge-notification account-reputation">{{ userInfo.reputation }}</span></li>
                <li>
                    <a href="#followers"
                       class="uk-navbar-nav-subtitle uk-text-center"
                       data-uk-modal>
                        {{ userInfo.followers }}
                        <div v-if="userInfo.newFollowers" class="uk-badge uk-badge-notification">{{ userInfo.newFollowers }}</div>
                        <div>Followers</div>
                    </a>
                </li>
                <li class="uk-hidden-small">
                    <a href="#followers"
                       class="uk-navbar-nav-subtitle uk-text-center"
                       data-uk-modal>
                        {{ userInfo.following }}
                        <div>Following</div>
                    </a>
                </li>
                <li class="uk-hidden-small">
                    <a href="#"
                       class="uk-navbar-nav-subtitle uk-text-center"
                       data-uk-modal>
                        {{ userInfo.posts }}
                        <div>Posts</div>
                    </a>
                </li>
                <li class="uk-hidden-small">
                    <a href="#replies"
                       class="uk-navbar-nav-subtitle uk-text-center"
                       data-uk-modal>
                        <i class="uk-icon-comments"></i>
                        <div v-if="userInfo.newReplies" class="uk-badge uk-badge-notification">{{ userInfo.newReplies }}</div>
                        <div>Replies</div>
                    </a>
                </li>
                <li>
                    <a href="#upvotes"
                       class="uk-navbar-nav-subtitle uk-text-center"
                       data-uk-modal>
                        <i class="uk-icon-chevron-up"></i>
                        <div v-if="userInfo.newUpvotes" class="uk-badge uk-badge-notification">{{ userInfo.newUpvotes }}</div>
                        <div>Upvotes</div>
                    </a>
                </li>
                <li class="uk-hidden-small">
                    <a href="#" class="uk-navbar-nav-subtitle uk-text-center">
                        {{ userInfo.votingPower }} %
                        <div>Voting Power</div>
                    </a>
                </li>
                <li>
                    <a href="#" v-on:click="resetAccount" id="reset-user" data-uk-tooltip title="switch user">
                        <i class="uk-icon-times"></i>
                    </a>
                </li>
            </ul>
        </transition>
        <transition name="fade">
            <div v-if="!userInfo.account" class="uk-navbar-content uk-position-top-left">
                <form class="uk-form uk-display-inline-block" id="username-form" v-on:submit="setUserInfo($event)">
                    <input type="search" placeholder="Enter username" v-model="usernameQuery" v-on:keyup="lookupAccount" autocomplete="off">
                    <span v-if="!accountTmp && usernameQuery && !lookingUpAccount" class="uk-margin-left"><i class="uk-icon-times uk-text-danger"></i></span>
                    <span v-if="!accountTmp && usernameQuery && lookingUpAccount" class="uk-margin-left"><i class="uk-icon-spinner uk-icon-spin"></i></span>
                    <button v-if="accountTmp && !lookingUpAccount" class="uk-button uk-button-success"><i class="uk-icon-check"></i></button>
                </form>
            </div>
        </transition>
        <div class="uk-navbar-content uk-navbar-flip" style="padding-left: 0;">
            <a href="#about" id="logo" data-uk-modal>steem<br class="uk-visible-small">Deck</a>
        </div>
    </nav>
</script>
{% endverbatim %}